/* top */
#top {
	background-color: $dark;
	border-bottom: 1px solid #e2e2e2;
	padding: 8px 0px 3px 0;
	margin: 0 0 20px 0;
    min-height: 50px;
    font-size: 0.8rem;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #fff;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: lighten(#444, 50%);
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links {
    .dropdown-menu {
        a {
            color: #444;
        }        
    }
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}