<div class="list-group categories-nav">

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59" class="list-group-item parent">Sports</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_61" class="list-group-item child">Baseball</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_62" class="list-group-item child">Basketball</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_60" class="list-group-item child">Cheerleading</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_65" class="list-group-item child">Football</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_63" class="list-group-item child">Golf</a>
  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=59_64" class="list-group-item child">Soccer</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=69" class="list-group-item parent">Car Show</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=67" class="list-group-item parent">Corporate</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=68" class="list-group-item parent">School</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=66" class="list-group-item parent">Weddings</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=70" class="list-group-item parent">Gifts</a>

  <a href="http://fanclubcreations.com/shop/index.php?route=product/category&amp;path=71" class="list-group-item parent">Clearance</a>
</div>