<nav id="top">
    <div class="container">
        <div id="top-links" class="nav pull-right">
            <ul class="list-inline">
                <li><a href="http://fanclubcreations.com/shop/index.php?route=information/contact"><i class="fa fa-phone"></i></a>                    <span class="d-none d-md-inline-block">503-939-2874</span></li>
                <li class="dropdown"><a href="http://fanclubcreations.com/shop/index.php?route=account/account" title="My Account" class="dropdown-toggle"
                        data-toggle="dropdown"><i class="fa fa-user"></i> <span class="d-none d-md-inline-block">My Account</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="http://fanclubcreations.com/shop/index.php?route=account/register">Register</a></li>
                        <li><a href="http://fanclubcreations.com/shop/index.php?route=account/login">Login</a></li>
                    </ul>
                </li>
                <li><a href="http://fanclubcreations.com/shop/index.php?route=account/wishlist" id="wishlist-total" title="Wish List (0)"><i class="fa fa-heart"></i> <span class="d-none d-md-inline-block">Wish List (0)</span></a></li>
                <li><a href="http://fanclubcreations.com/shop/index.php?route=checkout/cart" title="Shopping Cart"><i class="fa fa-shopping-cart"></i> <span class="d-none d-md-inline-block">Shopping Cart</span></a></li>
                <li><a href="http://fanclubcreations.com/shop/index.php?route=checkout/checkout" title="Checkout"><i class="fa fa-share"></i> <span class="d-none d-md-inline-block">Checkout</span></a></li>
            </ul>
        </div>
    </div>
</nav>